
.body {
  background-image: url('../images/CampsiteCollage2.png');
}
.eachCampsite > a {
  color:black;

}
.eachCampsite > a:hover {
  color:rgb(255, 255, 255);

}
.eachCampsite {
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  border: 5px solid  rgba(0, 197, 135, 0.685);
  border-radius: 5px;
  margin-left: 20%;
  margin-right: 25%;
  min-width: 250px;
  transition: background-color 0.2s ease 0s;
  transition: all 0.4s ease 0s;
  font-family: Helvetica;
}
.eachCampsite:hover {

  background-color:  rgba(0, 197, 135, 0.555);
  color: rgb(255, 255, 255);
  border: 5px solid transparent;
  max-width: 500px;
  margin-left: 25%;
  font-size: 20px;
  /* transform: rotate(360deg); */
}
.campResults {
  margin-left: 10%;
}

.pictures > .campsiteInfoPicture {
  margin-top: 10%;
  max-width: none;
}

.userReviews {
  padding: 10px;
}

.userReviewButton {
  width: 500px;
  display: flex;
  justify-content: space-around;
}

.picture {
  padding-right: 5%;
  padding-left: 5%;
  margin-bottom: 5%;
  background-size: contain;
  background-repeat: no-repeat;
  width: 75%;
  height: 0;
  padding-top: 66.64%;
  max-width: 400px;
  min-height: 50%;
}
.campPicture1 {
  background-image:  url('../images/Rocky1.jpeg');
}
.campPicture2 {
  background-image: url('../images/Rocky2.jpeg');
}
.campPicture3 {
  background-image: url('../images/Rocky3.jpeg');
}
.campPicture4 {
  background-image: url('../images/Yellowstone1.jpeg');
}
.campPicture5 {
  background-image: url('../images/Yellowstone2.jpeg');
}
.campPicture6 {
  background-image: url('../images/Yellowstone3.jpeg');
}
.campPicture7 {
  background-image: url('../images/Yosemite1.jpeg');
}
.campPicture8 {
  background-image: url('../images/Yosemite2.jpeg');
}
.campPicture9 {
  background-image: url('../images/Yosemite3.jpeg');
}
.campPicture10 {
  background-image: url('../images/Yosemite4.jpeg');
}
.campPicture11 {
  background-image: url('../images/Grand1.jpeg');
}
.campPicture12 {
  background-image: url('../images/Grand2.jpeg');
}
.campPicture13 {
  background-image: url('../images/Grand3.jpeg');
}


.searchHeader {
  font-size: 55px;
  line-height: 80px;
  letter-spacing: 0px;
  font-weight: 800;
  text-align: center;
  font-family: Calibre, Helvetica, Arial, sans-serif;
  color: rgb(28, 104, 28);
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: whitesmoke;

}

.searchFields {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-size: 20px;
  border-radius: 25px;
}

.booking-form{
  padding-top: 10px;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 5%;
  background-color: rgba(245, 245, 245, 0.835);
  min-width: 600px;
  margin-left: 25%;
  margin-right: 25%;
}

.searchButton {
    border: 2px solid rgb(0, 197, 133);
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 18px;
    height: 36px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: rgb(0, 197, 133);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 0.2s ease 0s;
    white-space: nowrap;
    font-weight: 400;
}



.searchButton:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 197, 133);
}
